@import "fonts";
@import "vars";
@import "libs";
@import "global";
//========================================================================================================================================================
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  font-size: 18px;
}
.header__top {
  background: #000;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header__list {
  display: flex;
}
.header__item {
  &:not(:last-child) {
    margin-right: 62px;
  }
}
.header__sign {
  position: relative;
  a {
    padding-left: 20px;
    &::before {
      content: "";
      background: url("../img/arrow-sign.svg") 0 0 / contain no-repeat;
      width: 13px;
      height: 13px;
      position: absolute;
      top: 4px;
      left: 0;
    }
  }
}
.header__under {
  background: rgba(0, 0, 0, 0.4);
}
.header__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.header__selects {
  display: flex;
}
.header__search {
  position: relative;
  padding-left: 30px;
  &-btn {
    background: url("../img/search.svg") 0 0 / contain no-repeat;
    position: absolute;
    top: 5px;
    left: 0;
    width: 21px;
    height: 21px;
  }
  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding-left: 0;
    padding-bottom: 4px;
    &::placeholder {
      color: #fff;
      margin: 0;
    }
  }
}

//========================================================================================================================================================
.choices {
  margin-bottom: 0;
  &:not(:last-child) {
    margin-right: 96px;
  }
}
.choices__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: transparent;
  padding: 7.5px 12px 3.75px 0;
  border: none;
  border-radius: 0;
  font-size: 18px;
  min-height: 0;
  overflow: hidden;
}
.choices[data-type*="select-one"] {
  &::after {
    border: none;
    margin-top: 0;
    width: 12px;
    height: 7px;
    background-image: url("../img/arrow-down.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    transition: transform 0.08s ease-in-out;
  }
}

.choices[data-type*="select-one"] {
  &.is-open {
    &::after {
      z-index: 10;
      border: none;
      margin: 0;
      transform: rotate(180deg);
    }
  }
}
.choices__placeholder {
  opacity: 1;
}
.choices__list--dropdown.is-active {
  .choices__placeholder {
    display: none;
  }
}

//========================================================================================================================================================
//========================================================================================================================================================
.hero {
  position: relative;
  overflow: hidden;
}
.hero__slider-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: scaleimg 25s ease-in-out infinite;
}
.hero__slider-wrapper {
  width: 100%;
}
.hero__slider-slide {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
.hero__body {
  padding-top: 230px;
  padding-bottom: 120px;
  width: 600px;
  @extend %os-bold;
}
.hero__title {
  font-size: 72px;
  line-height: 98px;
}
.hero__description {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 95px;
}
.hero__btn {
  font-size: 18px;
  padding: 22.5px 35px;
  background-color: #9d5cd0;
  border-radius: 100px;
}
//========================================================================================================================================================
//========================================================================================================================================================
.about {
  color: #333;
  @extend %section-tb-padding;
}
.about__title {
  margin-bottom: 30px;
}
.about__description {
  width: 1080px;
  line-height: 32px;
}
//========================================================================================================================================================
//========================================================================================================================================================
.gallery {
  background: url("../img/gallery-bg.jpg") 0 0 / cover no-repeat;
  @extend %section-tb-padding;
}
.gallery__inner {
  display: flex;
}
.gallery__sidebar {
  flex: 1 0 400px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.gallery__title {
  margin-bottom: 30px;
}
.gallery__form {
  flex: 1 1 auto;
}
.gallery__form-title {
  @extend %os-semibold;
  margin-bottom: 10px;
}
.gallery__info {
  @extend %os-semibold;
  padding-right: 20px;
  font-size: 16px;
  line-height: 32px;
  a {
    color: #9d5cd0;
  }
}
//========================================================================================================================================================
.gallery__slider-container {
  height: 810px;
  padding-top: 60px;
}
.gallery__slider-wrapper {
  height: 100%;
  position: relative;
}
.gallery__slider-slide {
  height: auto;
}
.gallery__slider-button-next,
.gallery__slider-button-prev {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #666666;
  top: 0;
  left: 0;
  border-radius: 50%;
  &::after {
    content: "";
    width: 10px;
    height: 15px;
    position: absolute;
    top: 7px;
  }
}
.gallery__slider-button-next {
  left: 100px;
  &::after {
    left: 11px;
    background: url("../img/arrow-right.svg") 0 0 / contain no-repeat;
  }
}
.gallery__slider-button-prev {
  &::after {
    left: 10px;
    background: url("../img/arrow-left.svg") 0 0 / contain no-repeat;
  }
}
.swiper-button-disabled {
  opacity: 0.7;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  top: 7px;
  left: 0;
  width: auto;
  left: 48px;
  font-size: 16px;
}

//========================================================================================================================================================
@keyframes scaleimg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
//========================================================================================================================================================
@import "media";
