* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
b,
strong {
  font-weight: 400;
}
img {
  max-width: 100%;
}
button {
  background-color: transparent;
  border: none;
}

body {
  @extend %os-regular;
  margin: 0;
  padding: 0;
  color: #fff;
}

.disable-scroll{
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

#about,
#gallery,
#catalog,
#events,
#publications,
#contacts {
  position: absolute;
  bottom: 50px;
}
.about,
.gallery,
.catalog,
.events,
.publications,
.contacts{
  position: relative;
  z-index: 10000;
}
.container {
  max-width: 1630px;
  margin: 0px auto;
  padding-right: 15px;
  padding-left: 15px;
}
.main {
  font-size: 16px;
}
.title {
  @extend %os-regular;
  font-size: 48px;
}
.swiper-container {
  overflow: hidden;
}
