@media (max-width: 1600px) {
  .catalog__accordion-list {
    height: 430px;
  }
}

@media (max-width: 1441px) {
  .header__sign{
    // margin: 73px 0px 0px 0px;
    margin-left: 75px;
  }
}

@media (max-width: 1367px) {
  body {
    &.lock {
      overflow: hidden;
    }
  }
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .header__under {
    display: none;
  }
  .header__logo {
    width: auto;
    height: 42px;
  }
  .header__logo-img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  // !Burger
  .header__burger {
    display: block;
    position: relative;
    z-index: 30;
    width: 36px;
    height: 28px;
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
    span {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;

      height: 3.6px;
      background-color: #fff;
      &:nth-child(1) {
        top: 0px;
        width: 36px;
        transition-property: top, width, transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }
      &:nth-child(2) {
        width: 28px;
        top: 12px;
        transition: opacity 0.3s ease-in-out;
      }
      &:nth-child(3) {
        top: 23px;
        width: 24px;
        transition-property: top, width, transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }
    }
    &.burger-active {
      span {
        &:nth-child(1) {
          width: 36px;
          transform: rotate(45deg);
          top: 12px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          width: 36px;
          transform: rotate(-45deg);
          top: 12px;
        }
      }
    }
  }
  .header__navbar {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 770px;
    padding-top: 100px;
    padding-left: 50px;
    overflow-y: scroll;
    transition: transform 0.3s ease-in-out;
    z-index: 25;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.9);
    }
    &.navbar-active {
      transform: translateY(0);
    }
  }
  .header__list {
    flex-direction: column;
  }
  .header__list,
  .header__sign {
    position: relative;
    z-index: 10;
  }
  .header__item {
    margin: 0;
    font-size: 24px;
    line-height: 64px;
  }
  .header__sign {
    margin: 73px 0px 0px 0px;
    a {
      display: inline-block;
      border: 2px solid #9d5cd0;
      padding: 20px 88px;
      border-radius: 100px;
      &::before {
        top: 25px;
        left: 66px;
      }
    }
  }
  // ?Burger
  // ! Search
  .header__row {
    flex: 0 0 calc(50% + 90px);
  }
  .header-top__search-box {
    display: block;
    width: 30px;
    overflow: hidden;
    height: 40px;
    position: relative;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
  }
  .header-top__search-box.active {
    width: 290px;
    background-color: #18171b;
  }
  .header-top__input {
    width: 100%;
    height: 100%;
    margin-left: 40px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .header-top__input.active {
    opacity: 1;
  }
  .header-top__search-btn,
  .header-top__cancel-btn {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out;
  }
  .header-top__search-btn {
    z-index: 20;
  }
  .header-top__btn {
    display: inline-block;
  }
  .header-top__search-icon {
    position: absolute;
    top: calc(50% - 12.5px);
    left: calc(50% - 12.5px);
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url("../images/search.svg") center/contain no-repeat;
  }

  .header-top__cancel-btn {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s 0.2s ease-in-out;
    opacity: 0;
  }
  .header-top__cancel-btn.active {
    opacity: 1;
  }
  .header-top__close-icon {
    display: inline-block;
    position: absolute;
    top: calc(50% - 7.5px);
    left: calc(50% - 7.5px);
    width: 20px;
    height: 20px;
    background: url("../images/search-close.svg") center/contain no-repeat;
  }

  //========================================================================================================================================================
  //========================================================================================================================================================
  .hero__body {
    padding-top: 210px;
    padding-bottom: 115px;
  }
  .hero__title {
    line-height: 85px;
    margin-bottom: 10px;
  }
  .hero__description {
    margin-bottom: 135px;
  }
  //========================================================================================================================================================
  //========================================================================================================================================================
  .about__title {
    margin-bottom: 22px;
  }
  //========================================================================================================================================================
  //========================================================================================================================================================
  .gallery {
    padding-bottom: 65px;
  }
  .gallery__sidebar,
  .gallery__last {
    width: calc(480 / 1600 * 100%);
  }
  //========================================================================================================================================================
  .gallery__slider-container {
    width: calc(1030 / 1600 * 100%);
  }
  //========================================================================================================================================================
  //========================================================================================================================================================
  .catalog {
  }
  .catalog__title {
    margin-bottom: 21px;
  }
  .catalog__text {
    margin-bottom: 40px;
  }
  //========================================================================================================================================================
  .catalog__accordion-item {
    margin-right: 70px;
  }
  .catalog__accordion-list {
    padding-bottom: 20px;
  }
  .catalog__accordion-pic {
    width: 190px;
  }
  .catalog__accordion-info--description {
    max-width: 220px;
    line-height: 22px;
  }
  //========================================================================================================================================================
  //========================================================================================================================================================
  .footer__link {
    &:not(:last-child) {
      margin-right: 25px;
    }
    img {
      width: 60px;
      height: 60px;
    }
  }
}

@media (max-width: 1025px) {
  .contacts__aside {
    width: calc(437 / 924 * 100%);
  }

  .contacts__map {
    width: calc(487 / 924 * 100% + ((100vw - 100%) / 2));
  }

  .gallery__slider-slide::before {
    padding-top: 85%;
  }
}

@media (max-width: 1010px) {
  .catalog__accordion-item {
    margin-right: 40px;
  }
}

@media (max-width: 970px) {
  .catalog__info-some,
  .catalog__info {
    width: 100%;
  }
  .catalog__inner {
    &.is-active {
      flex-direction: column-reverse;
    }
  }
  .catalog__image {
    width: 100%;
  }
  .catalog__accordion {
    margin-bottom: 50px;
  }
  .catalog__text {
    margin-bottom: 20px;
  }
  .catalog__accordion-list {
    height: 335px;
    padding-bottom: 10px;
  }
  .catalog__accordion-item {
    margin-right: 60px;
  }
  .catalog__accordion {
    margin-bottom: 45px;
  }
}

@media (max-width: 881px) {
  .header__row {
    opacity: 1;
    display: flex;
    transition: all 1s ease-in-out;
  }
  .header__row.none {
    display: none;
  }
  .header__row.opacity {
    opacity: 0;
  }
  .header-top__search-box.active {
    width: 100%;
    background-color: transparent;
  }
  .header-top__cancel-btn {
    display: block;
  }

  //========================================================================================================================================================
  //========================================================================================================================================================
  .gallery__modals-modal{
    width: 668px;
    height: 594px;
    img{
      width: 301px;
      height: 100%;
      background-size: contain;
    }
  }
  
  
  .gallery {
    padding-bottom: 70px;
  }
  .gallery__title {
    margin-bottom: 25px;
  }
  .gallery__sidebar,
  .gallery__slider-container {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .gallery__last {
    width: 100%;
  }

  .gallery__info {
    padding-top: 20px;
    position: static;
  }

  .gallery__form {
    max-width: 280px;
  }

  .gallery {
    .choices__inner {
      padding-top: 4px;
    }

    .slider-navigation {
      margin-top: 30px;
    }
  }
  //========================================================================================================================================================
  //========================================================================================================================================================

  //========================================================================================================================================================
  //========================================================================================================================================================
  .contacts__aside {
    width: calc(380 / 668 * 100%);
  }
  .contacts__link {
    img {
      width: 60px;
      height: 60px;
    }
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
  .contacts__map {
    width: calc(288 / 668 * 100% + ((100vw - 100%) / 2));
  }
  .contacts__form {
    padding: 0;
  }
}

@media (max-width: 761px) {
  .hero__body {
    width: 100%;
    text-align: center;
  }
  .hero__title {
    font-size: 50px;
  }
  .hero__description {
    font-size: 16px;
  }
  .catalog__accordion-list {
    height: 450px;
  }
  
  .gallery__modals-modal{
    flex-direction: column;
    height: 600px;
    justify-content: start;
    margin-right: 15px;
    margin-left: 15px;
    img{
      width: 100%;
      height: 200px;
      background-size: cover;
      margin-bottom: 17px;
    }
  }

  .gallery__modals-info{
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .gallery__modals-title{
    margin-bottom: 2px;
  }

  .gallery__modals-subtitle{
    margin-bottom: 5px;
  }

  .gallery__modals-add{
    margin-bottom: 12px;
  }
}

@media (max-width: 580px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__navbar {
    padding-left: 15px;
  }

  .events__slides-wrap {
    flex-wrap: nowrap;
  }
  .events__slider-slide {
    flex: 0 0 100%;
  }
  .more {
    display: block;
  }

  .contacts__container {
    flex-direction: column-reverse;
  }

  .contacts__row,
  .contacts__aside {
    border: none;
  }

  .contacts__aside,
  .contacts__map {
    width: 100%;
  }

  .contacts__map {
    height: 320px;
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .title {
    font-size: 34px;
  }
  .header__wrapper {
    height: 45px;
  }
  .header__burger {
    width: 25px;
    height: 18px;
    span {
      height: 2px;
      &:nth-child(1) {
        top: 0px;
        width: 25px;
      }
      &:nth-child(2) {
        width: 16px;
        top: 7.5px;
      }
      &:nth-child(3) {
        top: 15px;
        width: 10px;
      }
    }
    &.burger-active {
      span {
        &:nth-child(1) {
          width: 25px;
          transform: rotate(45deg);
          top: 7.5px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          width: 25px;
          transform: rotate(-45deg);
          top: 7.5px;
        }
      }
    }
  }
  .header__logo {
    height: 21.6px;
  }
  .header__row {
    flex: 0 0 calc(50% + 50px);
  }
  .header-top__search-icon {
    width: 20px;
    height: 20px;
  }
  .header-top__input {
    margin-left: 30px;
    &.active {
      height: 30px;
    }
  }
  .header-top__cancel-btn {
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
  .header-top__close-icon {
    width: 15px;
    height: 15px;
  }

  .hero__body {
    padding-top: 75px;
    padding-bottom: 45px;
  }
  .hero__title {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 16px;
  }
  .hero__description {
    line-height: 18px;
    margin-bottom: 40px;
  }
  .hero__btn {
    padding: 15px 22px;
    font-size: 14px;
  }

  .about {
    padding-top: 50px;
  }
  .about__title {
    margin-bottom: 20px;
  }
  .about__description {
    font-size: 14px;
  }
  .gallery__slider-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .slider-navigation {
    align-self: center;
    margin-top: 20px;
  }

  .gallery {
    padding-top: 50px;
  }
  .gallery__slider-slide::before {
    padding-top: 110%;
  }
  .gallery {
    .choices {
      position: relative;
      z-index: 120;
    }
  }

  .catalog {
    padding-top: 50px;
  }
  .catalog__points {
    margin-bottom: 20px;
    a {
      width: 44px;
      height: 44px;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .catalog__text {
    display: none;
  }
  .catalog__info {
    margin-right: 0;
  }
  .catalog__accordion-list {
    height: 810px;
  }
  .catalog__accordion-title {
    font-size: 18px;
    line-height: 2;
    padding-top: 20px;
    padding-bottom: 20px;
    span {
      width: 30px;
      height: 30px;
      &::before,
      &::after {
        width: 10px;
        height: 1px;
      }
      &::before {
        left: 6px;
      }
      &::after {
        right: 6px;
      }
    }
  }
  .catalog__accordion-item {
    font-size: 16px;
    line-height: 2;
  }
  .catalog__image {
    width: 290px;
    margin-bottom: 20px;
  }
  .contacts__form-title,
  .contacts__socials-title {
    font-size: 18px;
  }
  .contacts__aside {
    padding-bottom: 50px;
  }

  .footer__row {
    padding-top: 40px;
    padding-bottom: 20px;
    flex-direction: column-reverse;
    height: auto;
  }
  .footer__logo {
    width: 97px;
  }
  .footer__links {
    margin-bottom: 20px;
  }
}

@media (max-width: 370px) {
  .title {
    font-size: 28px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .hero__description {
    font-size: 12px;
    line-height: 16.3px;
    font-weight: 400;
  }
  .hero__btn {
    font-size: 12px;
    line-height: 16px;
    padding: 12.5px 18px;
  }

  .about {
    padding-top: 55px;
    padding-bottom: 40px;
  }
  .about__title {
    margin-bottom: 15px;
  }
  .about__description {
    font-size: 14px;
    line-height: 2;
  }

  .gallery {
    padding-bottom: 40px;
  }
  .gallery__form-title {
    margin-bottom: 10px;
  }
  .gallery__slider-container {
    margin-bottom: 10px;
  }
  .gallery__info {
    padding-top: 0;
  }

  .catalog {
    padding-top: 55px;
  }
  .catalog__title {
    margin-bottom: 10px;
  }
  .catalog__points {
    margin-bottom: 12px;
    a {
      &:not(:last-child) {
        margin-right: 13px;
      }
    }
  }
  .catalog__accordion-title {
    padding-bottom: 15px;
  }
  .catalog__accordion-list {
    padding-top: 20px;
    flex-wrap: nowrap;
  }
  .catalog__accordion-item {
    margin: 0;
  }
  .catalog__accordion {
    margin-bottom: 50px;
  }

  .contacts__aside {
    padding-top: 20px;
  }
}
