%os-regular {
  font-family: "open_sansregular", sans-serif;
  font-weight: 400;
}
%os-italic {
  font-family: "open_sansitalic", sans-serif;
  font-weight: 400;
  font-style: italic;
}
%os-semibold {
  font-family: "open_sanssemibold", sans-serif;
  font-weight: 600;
}
%os-bold {
  font-family: "open_sansbold", sans-serif;
  font-weight: 700;
}
%section-tb-padding {
  padding-top: 85px;
  padding-bottom: 70px;
}
